/***************
Styles
***************/
/***************
Components Index
***************/
/***************
Variables
***************/
/***************
Mixins
***************/
/***************
Functions
***************/
/***************
Place Holders
***************/
/* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_placeholders.scss */
.panel, .panel--centered {
  padding: 1.25em;
}

/* line 9, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_placeholders.scss */
.panel--centered {
  text-align: center;
}

/* line 13, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_placeholders.scss */
img, .header .user__notification__circle, .social__wrapper__icon {
  border-radius: 50%;
}

/* line 17, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_placeholders.scss */
.header .dropdown, .header .dropdown__content a, #alert-box, .social__wrapper, .message__form input,
.message__form textarea,
.message__form button, .settings__buttons button, .settings select {
  border-radius: 0.3125em;
}

/* line 21, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_placeholders.scss */
.graph__wrapper__buttons__button, .graph__wrapper__buttons__button--current {
  border: none;
  background-color: transparent;
  padding: 0.625em;
  border-radius: 2.5em;
  transition: background-color .5s ease-out, color .5s ease-out;
}

/* line 29, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_placeholders.scss */
.activity__wrapper span {
  display: none;
}

/***************
Base Index
***************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
/* line 11, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
/* line 23, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
/* line 31, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 40, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 53, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 64, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 76, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 85, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 95, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 105, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
/* line 116, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 125, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 133, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 137, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
/* line 148, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 160, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 176, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 186, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
/* line 195, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 206, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 218, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 229, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 240, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 253, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
/* line 261, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
/* line 270, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 280, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 290, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
/* line 299, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 308, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
/* line 320, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 328, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
/* line 339, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
/* line 347, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_normalize.scss */
[hidden] {
  display: none;
}

/***************
Base Styles
***************/
/* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
* {
  box-sizing: border-box;
  outline: none;
}

/* line 10, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
body {
  font-family: Raleway, "Helvetica Neue", sans-serif;
  color: #666666;
}

/* line 15, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
section {
  margin: 0;
}

/* line 19, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
img {
  width: 3.125em;
  height: 3.125em;
}

/* line 25, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
svg {
  fill: #fff;
}

/* line 29, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
h1,
h2,
h3,
p {
  margin: 0;
}

/* line 35, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
h1,
h2,
h3 {
  font-weight: 700;
}

/* line 41, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
p,
span {
  font-weight: 100;
}

/* line 46, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
p strong {
  font-weight: 700;
}

/* line 50, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
h1 {
  font-size: 1.38312em;
}

/* line 54, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
h2 {
  font-size: 1.29625em;
}

/* line 58, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
h3 {
  font-size: 1.215em;
  text-transform: uppercase;
}

/* line 63, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
a {
  text-decoration: none;
  color: #7477BF;
}

/* line 68, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/base/_base.scss */
canvas {
  max-width: 100%;
}

/***************
Components Index
***************/
/***************
Grid
***************/
/***************
Panel Layout
***************/
/***************
Header
***************/
/* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #7477BF;
  color: #fff;
  min-width: 100%;
}

/* line 12, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header .logo {
  position: relative;
}

/* line 15, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header .logo span:nth-child(2) {
  position: absolute;
  top: -0.5em;
  right: -1.5625em;
  text-transform: uppercase;
  font-size: 0.625em;
}

/* line 24, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header .user {
  display: flex;
  align-items: center;
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.header .user__notification {
  width: 1.875em;
  height: 1.875em;
  position: relative;
  cursor: pointer;
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.header .user__notification__circle {
  width: 0.625em;
  height: 0.625em;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  background-color: #81C98F;
}

/* line 40, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header .user__notification a svg {
  fill: #fff;
  transition: fill .5s ease-out, transform .5s ease-out, stroke .5s ease-out;
}

/* line 46, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header .user__notification a:focus svg,
.header .user__notification a:hover svg {
  fill: #81C98F;
  stroke: #81C98F;
  stroke-width: 0.125em;
  transform: scale(1.2);
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.header .user__info {
  margin-left: 1.875em;
  padding-left: 1.875em;
  border-left: 0.0625em solid #fff;
  display: flex;
  align-items: center;
}

/* line 59, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header .user__info p {
  margin-left: 0.625em;
}

/* line 65, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header .dropdown {
  display: inline-block;
  position: relative;
  height: 0;
  width: 0;
  overflow: hidden;
  z-index: 1;
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.header .dropdown__content {
  display: none;
  background-color: #41448c;
}

/* line 77, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header .dropdown__content a {
  color: #fff;
  padding: 0.75em 1em;
  text-decoration: none;
  display: block;
  transition: color .5s ease-out, background-color .5s ease-out;
}

/* line 84, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_header.scss */
.header .dropdown__content a:hover, .header .dropdown__content a:focus {
  background-color: #44a056;
  color: #babbdf;
}

/***************
Nav
***************/
/* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_nav.scss */
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #41448c;
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.nav__item {
  margin: 15px;
  width: 30px;
  height: 30px;
}

/* line 12, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_nav.scss */
.nav__item svg {
  transition: fill .5s ease-out, transform .5s ease-out, stroke .5s ease-out;
}

/* line 17, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_nav.scss */
.nav__item a:focus svg,
.nav__item a:hover svg {
  fill: #81C98F;
  stroke: #81C98F;
  stroke-width: 0.125em;
  transform: scale(1.2);
}

@media (min-width: 768px) {
  /* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_nav.scss */
  .nav {
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
  }
}

/***************
Body
***************/
@media (min-width: 768px) {
  /* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
  .main-content {
    display: flex;
  }
}

/* line 11, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
.main-content-wrapper {
  width: 100%;
}

/* line 16, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.4375em;
}

/* line 20, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
.wrapper h2 {
  padding: 1.25em;
}

/* line 24, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
.wrapper .empty-box {
  flex-grow: 1.5;
  flex-shrink: 0;
  height: 3.4375em;
  background-color: #e6e6e6;
  border-left: 1px solid #999;
  border-bottom: 1px solid #999;
}

/* line 34, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
#alert-box {
  background-color: #7477BF;
  color: #fff;
  margin: 1.25em;
  position: relative;
  cursor: pointer;
}

/* line 43, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
#close-alert-box {
  position: absolute;
  right: 1.25em;
}

@media (min-width: 1024px) {
  /* line 49, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
  .flex-container {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
  }
  /* line 52, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
  .flex-container .panel {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
  }
  /* line 55, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_body.scss */
  .flex-container .panel:nth-of-type(2) {
    border-left: 1px solid #999;
  }
}

/***************
Graphs
***************/
@media (min-width: 768px) {
  /* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_graphs.scss */
  .graph {
    display: grid;
    justify-content: space-between;
    grid-template-areas: "line line" "bar doughnut";
  }
  /* line 8, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_graphs.scss */
  .graph h3 {
    margin-bottom: 0.625em;
  }
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.graph__wrapper {
  padding: 1.25em;
  border-bottom: 0.0625em solid #999;
  position: relative;
}

@media (min-width: 768px) {
  /* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
  .graph__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  /* line 23, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_graphs.scss */
  .graph__wrapper:nth-child(3) {
    border-left: 1px solid #999;
  }
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.graph__wrapper__buttons {
  display: flex;
  justify-content: space-around;
  margin: 0.625em 0 1.25em;
}

/* line 14, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.graph__wrapper__buttons__button--current {
  background-color: #81C98F;
  color: #fff;
}

/* line 38, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_graphs.scss */
.graph__wrapper__buttons__button--current:focus {
  background-color: #7477BF;
}

/* line 42, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_graphs.scss */
.graph__wrapper__buttons__button:hover, .graph__wrapper__buttons__button:focus {
  background-color: #7477BF;
  color: #fff;
}

@media (min-width: 768px) {
  /* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
  .graph__wrapper__buttons {
    position: absolute;
    right: 1.25em;
    top: 0;
  }
}

/* line 55, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_graphs.scss */
.graph .line-graph {
  grid-area: line;
}

/* line 58, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_graphs.scss */
.graph .bar-graph {
  grid-area: bar;
}

/* line 61, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_graphs.scss */
.graph .doughnut-graph {
  grid-area: doughnut;
}

/***************
Social Media
***************/
/* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_social-media.scss */
.social {
  border-bottom: 1px solid #999;
}

@media (min-width: 768px) {
  /* line 8, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_social-media.scss */
  .social .social-container {
    display: flex;
    justify-content: space-between;
    gap: 0.625em;
  }
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.social__wrapper {
  display: flex;
  align-items: center;
  background-color: #e6e6e6;
  border: 1px solid #999;
  padding: 1.25em;
  margin-top: 1.25em;
}

/* line 25, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_social-media.scss */
.social__wrapper h3 {
  color: #7477BF;
}

/* line 29, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_social-media.scss */
.social__wrapper p:nth-child(1) {
  font-size: 1.125em;
  color: #7477BF;
}

/* line 34, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_social-media.scss */
.social__wrapper p:nth-child(2) {
  font-size: 1.875em;
}

/* line 38, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_social-media.scss */
.social__wrapper svg {
  fill: #fff;
  width: 2.8125em;
  height: 2.8125em;
}

@media (min-width: 768px) {
  /* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
  .social__wrapper {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.social__wrapper__icon {
  height: 100%;
  padding: 1.25em;
  margin-right: 1.25em;
  background-color: #7477BF;
}

/***************
Users
***************/
/* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_users.scss */
.users {
  border-bottom: 1px solid #999;
  font-size: 0.875em;
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.users__wrapper {
  border-bottom: 1px solid #999;
}

/* line 10, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_users.scss */
.users__wrapper:last-child {
  border: none;
}

@media (min-width: 768px) {
  /* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
  .users__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  /* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
  .users__wrapper__info {
    display: flex;
    align-items: center;
    text-align: left;
  }
}

@media (min-width: 768px) {
  /* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
  .users__wrapper__info__text {
    margin-left: 1.25em;
  }
}

/***************
Activity
***************/
/* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_activity.scss */
.activity {
  border-bottom: 1px solid #999;
  font-size: 0.875em;
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.activity__wrapper {
  border-bottom: 1px solid #999;
}

/* line 10, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_activity.scss */
.activity__wrapper:last-child {
  border: none;
}

@media (min-width: 768px) {
  /* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
  .activity__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 768px) {
  /* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
  .activity__wrapper__info {
    text-align: left;
    display: flex;
    align-items: center;
  }
  /* line 20, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_activity.scss */
  .activity__wrapper__info div {
    margin-left: 1.25em;
  }
}

/* line 25, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_activity.scss */
.activity__wrapper span {
  color: #7477BF;
  font-size: 1.875em;
}

@media (min-width: 768px) {
  /* line 25, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_activity.scss */
  .activity__wrapper span {
    display: block;
  }
}

/***************
Messages
***************/
/* line 5, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_messages.scss */
.message {
  border-bottom: 1px solid #999;
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.message__form {
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
}

/* line 12, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_messages.scss */
.message__form input,
.message__form textarea {
  background-color: #e6e6e6;
  border: 1px solid #999;
}

/* line 17, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_messages.scss */
.message__form button {
  background-color: #7477BF;
  border: none;
  color: #fff;
  text-transform: uppercase;
}

/* line 23, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_messages.scss */
.message__form input,
.message__form textarea,
.message__form button {
  padding: 1.25em;
  transition: background-color .5s ease-out;
}

/* line 30, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_messages.scss */
.message__form input:hover,
.message__form input:focus,
.message__form textarea:hover,
.message__form textarea:focus {
  background-color: #c8e8ce;
}

/* line 36, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_messages.scss */
.message__form button:hover,
.message__form button:focus {
  background-color: #44a056;
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.message__form__input {
  width: 100%;
}

/* line 46, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_messages.scss */
.message .search-results {
  position: absolute;
  background-color: green;
}

/***************
Settings
***************/
@media (min-width: 1024px) {
  /* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
  .settings__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.25em;
  }
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.settings__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1.25em 0;
}

/* line 7, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/utilities/_mixins.scss */
.settings__buttons {
  margin-top: 1.25em;
  display: flex;
  gap: 5%;
}

/* line 21, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.settings__buttons button {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1.25em;
  border: none;
  color: #fff;
  transform: background-color .4s ease-out;
}

/* line 28, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.settings__buttons button:nth-child(1) {
  background-color: #7477BF;
}

/* line 30, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.settings__buttons button:nth-child(1):hover, .settings__buttons button:nth-child(1):focus {
  background-color: #81C98F;
}

/* line 35, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.settings__buttons button:nth-child(2) {
  background-color: #999;
}

/* line 37, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.settings__buttons button:nth-child(2):hover, .settings__buttons button:nth-child(2):focus {
  background-color: #81C98F;
}

/* line 44, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.settings select {
  width: 100%;
  padding: 1.25em;
  background-color: #e6e6e6;
  border: 1px solid #999;
  appearance: none;
  background-image: url("../svgs/arrow.svg");
  background-repeat: no-repeat;
  background-position: 98%;
  background-size: 1.5625em;
  transition: background-color .4s ease-out;
}

/* line 56, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.settings select:hover, .settings select:focus {
  background-color: #81C98F;
  border: 1px solid #7477BF;
}

/**********************************************************
the form switches

/* The switch - the box around the slider */
/* line 68, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 6.25em;
  height: 2.125em;
}

/* line 75, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.switch,
.slider {
  border-radius: 2.125em;
}

/* line 80, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.switch,
.slider:before {
  border: 0.125em solid #cccccc;
}

/* Hide default HTML checkbox */
/* line 87, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
/* line 94, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666666;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
}

/* line 107, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 1.375em;
  width: 1.375em;
  left: 0.125em;
  bottom: 0.125em;
  background-color: white;
  border-radius: 50%;
}

/* line 117, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
.slider,
.slider:before {
  transition: transform .5s ease-in-out, backround-color .5s ease-in-out;
}

/* line 122, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
input:checked + .slider {
  background-color: #7477BF;
}

/* line 126, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
input:hover + .slider,
input:focus + .slider,
.slider:focus,
.slider:hover {
  box-shadow: 0 0 0.625em #7477BF;
  background-color: #81C98F;
}

/* line 134, ../../Users/devon/OneDrive/Desktop/Websites/Front-End-Tech-Degree-Project-07/sass/components/_settings.scss */
input:checked + .slider:before {
  transform: translateX(4.125em);
}

/*# sourceMappingURL=styles.css.map */