/***************
Place Holders
***************/

%panel-default{
	padding:em(20px);
}

%center-align{
	text-align:center;
}

%br-round {
	border-radius:50%;
}

%br-default {
	border-radius: em(5px);
}

%graph-button-base{
	border: none;
	background-color:transparent;
	padding:em(10px);
	border-radius: em(40px);
	transition: background-color .5s ease-out, color .5s ease-out;
}

%hide{
	display:none;
}

%clearfix{
	&:after{
		content:"";
		display:table;
		clear:both;
	}
}
