/***************
Header
***************/

.header {
	@include flexy($just: space-between, $align: center);
	padding: 15px;
	background-color: palette(primary);
	color:$white;
	min-width: 100%;
}

.logo {
	position: relative;
	
	span:nth-child(2){
		position: absolute;
		top: em(-8px);
		right: em(-25px);
		text-transform:uppercase;
		font-size: em(10px);
	}
}

.user{
	@include flexy($align: center);
	@include e('notifications'){
		width: em(30px);
		height: em(30px);
		position: relative;
	}
	@include e('info'){
		margin-left:em(30px);
		padding-left:em(30px);
		@include border(em(1px), $side : left);
		@include flexy($align: center);
		p{
			margin-left:em(10px);
		}
	}
}

.notifcation-circle{
	width: em(10px);
	height: em(10px);
	position: absolute;
	top: em(-8px);
	right: em(-8px);
	background-color:palette(accent);
	@extend %br-round;
}
