/***************
Messages
***************/

.message{
	@include border(1px, $color: palette(grey), $side : bottom);
	@include e('form'){
		@include flexy($dir: column);
		row-gap: em(20px);
		&:first-child{
		}
		& input,
		& textarea{
			background-color: palette(grey, x-light);
			@include border(1px, $color : palette(grey));
		}
		button {
			background-color:palette(primary);
			border: none;
			color: $white;
			text-transform: uppercase;
		}
		& input,
		& textarea,
		& button {
			@extend %br-default;
			padding: em(20px);
			transition: background-color .5s ease-out;
		}
		& input:hover,
		& input:focus,
		& textarea:hover,
		& textarea:focus{
			background-color:palette(accent, light);
		}
		& button:hover,
		& button:focus{
			background-color:palette(accent, dark);
		}
		
		@include e('input'){
			width: 100%;
		}
		
	}
	.search-results{
		position: absolute;
//		width: inherit;
//		bottom: 0;
//		height: 100%;
		background-color: green;
//		top:0;
//		right:0;
//		bottom:0;
//		left:0;
//		height: auto;
//		width: 100%;
	}
}